{% extends 'base.njk' %}

{% block headline %}My headline will go here{% endblock %}
{% block byline %}By me{% endblock %}
{% block pubdate %}
    <time datetime="2020-12-17" pubdate>Dec. 17, 2020</time>
{% endblock %}

{% block content %}
{% for obj in harvard_park_homicides %}
    {{ obj.first_name }} {{ obj.last_name }}<br>
{% endfor %}
{% endblock %}
